.navbar-brand img {
  width: 80px;
  height: 60px;
}

.image-home:hover {
  cursor: pointer;
}

.navbar {
  border-bottom: 2px solid rgb(241, 241, 241)
}

.search-input .form-inline input {
  width: 600px;
}

.navbar-nav .search-input form {
  width: 650px;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-text .nav-link {
  font-weight: 800;
  color: black;
}

.chat-navbar, .notification-navbar {
  display: flex;
  float: right;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.homepage {
  display: flex;
  flex-direction: column;
}

.filtering {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.overflow-test{
  overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
/* .filtering .dropdown {
  justify-self: flex-end;
} */