.home {
  background-image: linear-gradient(
    39deg,
    rgba(255, 105, 79, 1) 8%,
    rgba(233, 128, 143, 1) 53%,
    rgba(244, 95, 120, 1) 95%
  );
  background-repeat: no-repeat;

  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #c33764; /* fallback colour. Make sure this is just one solid colour. */
  background: -webkit-linear-gradient(
    39deg,
    rgba(255, 105, 79, 0.8) 8%,
    rgba(233, 128, 143, 0.8) 53%,
    rgba(244, 95, 120, 0.8) 95%
  ),
    url("https://bit.ly/2rlzaXi");
  background: linear-gradient(
    39deg,
    rgba(255, 105, 79, 0.8) 8%,
    rgba(233, 128, 143, 0.8) 53%,
    rgba(244, 95, 120, 0.8) 95%
  ),
    url("https://bit.ly/2rlzaXi"); /* The least supported option. */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonList {
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home .content .company h2,
.home .content .engineer h2 {
  display: flex;
  margin: auto;
}

.home .content .engineer,
.home .content .company {
  display: flex;
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 800;
  background-color: rgb(230, 153, 118);

  /* box-shadow: 2px 1px 3px black; */
}

.home .content h1 {
  display: flex;
  justify-content: center;
}

.home .content .engineer:hover,
.home .content .company:hover {
  background-color: rgb(236, 138, 93);
}
