.demo-card-image.mdl-card {
  width: 230px;
  height: 400px;
  background: url('https://source.unsplash.com/random') center / cover;
  border-radius: 10px;
  box-shadow: 2px 4px 10px gray;
}
.demo-card-image > .mdl-card__actions {
  height: 40%;
  padding: 16px;
  background: rgba(0, 0, 0, 0.7);
}

#id-card-profile {
  font-weight: 900;
  
}

.card-list div {
  height: auto;
}


#desc {
  font-size: 15px;
  margin-bottom: 2px;
}

#proj, #success-rate {
  font-size: 12px;
  display: flex;
  align-items: center;
}

#showcase-profile {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

#skill-profile, #list-of-skill {
  font-size: 14px
}

.demo-card-image__filename {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.demo-card-event.mdl-card {
  width: 256px;
  height: 256px;
  background: #3E4EB8;
} 
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

body .card-list {
  padding: 20px;
  /* background: #fafafa; */
  position: relative;
  width: 100%!important;
}

#proj .material-icons {
  font-size: 13px;
  color: rgb(114, 146, 251);
}

#success-rate .material-icons {
  font-size: 13px;
  color: yellow ;
}

.mdl-card__title:hover {
  cursor: pointer;
}